# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.melos_tool/

# IDEs and editors
.idea/
*.iml
.vscode/
*.sw?

# OS generated
.DS_Store
Thumbs.db

# Android
android/.gradle/
android/captures/
android/local.properties

# iOS & macOS
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner/GeneratedPluginRegistrant.*

macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/flutter_export_environment.sh
macos/Pods/
macos/.symlinks/
macos/Flutter/App.framework
macos/Flutter/Flutter.framework
macos/Flutter/Flutter.podspec

# Web
web/.dart_tool/

# Exceptions to above rules.
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
